.main-container {
    padding: 10px 15px;
}

.schema-wrapper {
    position: relative;
}

.a {
    position: absolute;
    z-index: 10;
}

.s1Close {
    top: 49px;
    left: 282px;
    cursor: pointer;
}

.s1Open {
    top: 36px;
    left: 285px;
    transform: rotate(45deg);
    cursor: pointer;
}

.s2Close {
    top: 143px;
    left: 868px;
    transform: rotate(90deg);   
    cursor: pointer;
}

.s2Open {
    top: 147px;
    left: 856px;
    transform: rotate(45deg);
    cursor: pointer;
}

.arrow {
    left: 355px;
    top: 170px;
    cursor: pointer;
}

.dn {
    display: none;
}


.ineractive-container {
    display: flex;
    align-items: center;
}

.data-elem {
    display: grid;
    grid-template-columns: 0.6fr 1fr 1fr; 
    align-items: center;
    margin-bottom: 10px;
}

.data-output {
    margin-left: 25px;
}

.value-elem {
    padding: 3px 3px 3px 24px;
    text-align: center;
    border: 1px solid #000;
    background-color: blanchedalmond;
    border-radius: 5px;
    margin: 0 5px;
}


.interactive-info {
    margin-top: 15px;
}

.info-reg {
    display: flex;
    width: 575px;
    font-size: 20px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #000;
    background-color: blanchedalmond;
    margin-bottom: 20px;
}

.answer-scheme-container {
    display: flex;
}

.answer-and-data-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.answer-and-data-info {
    margin-left: 15px;
}

.data-info {
    width: 575px;
    word-break: break-all;
    font-size: 18px;
    margin-bottom: 15px;
}

.line-breaker {
    border-top: 1px solid blue;
    width: 240px;
    height: 1px;
}

.breaker {
    display: flex;
    align-items: center;
    color: blue;
    font-size: 18px;
    margin-bottom: 15px;
}

.answers {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    width: 410px;
}

.answer-elem {
    display: flex;
    align-items: center;
    margin-right: 15px;
    margin-bottom: 10px;
}

.answer-input {
    outline: none;
    border: 1px solid #000;
    border-radius: 5px;
    background-color: rgb(207, 207, 207);
    padding: 3px 5px;
    width: 100px;
}

.answer-input:disabled {
    cursor: no-drop;
}

.check-button {
    margin-top: 15px;
    padding: 10px 20px;
    background-color: blueviolet;
    border: 1px solid #000;
    cursor: pointer;
    border-radius: 10px;
    color: #fff;
}

.check-button:hover + :not(.disabledButton) {
    background-color: blue;
}

.reference-container {
    margin-top: 20px;
}

.alarm {
    color: red;
    font-size: 20px;
    margin-bottom: 20px;
}

.reference {
    font-size: 18px;
}

.data-info-wrapper {
    display: flex;
}

.emergency {
    font-size: 20px;
    color: #fff;
    text-align: center;
    padding: 10px 15px;
    background-color: red;
    border: 1px solid #000;
    border-radius: 10px;
    margin-left: 15px;
    margin-bottom: 20px;
}

.disabledButton {
    cursor: no-drop;
}

.wrongAnswer {
    background-color: red;
}

.rightAnswer {
    background-color: green;
}